# uCodePoint_LEGACY[offset]="Character"
uCodePoint_LEGACY[0]="𜳰"
uCodePoint_LEGACY[1]="𜳱"
uCodePoint_LEGACY[2]="𜳲"
uCodePoint_LEGACY[3]="𜳳"
uCodePoint_LEGACY[4]="𜳴"
uCodePoint_LEGACY[5]="𜳵"
uCodePoint_LEGACY[6]="𜳶"
uCodePoint_LEGACY[7]="𜳷"
uCodePoint_LEGACY[8]="𜳸"
uCodePoint_LEGACY[9]="𜳹"
uCodePoint_LEGACY[10]="𜳺"
uCodePoint_LEGACY[11]="𜳻"
uCodePoint_LEGACY[12]="𜳼"
uCodePoint_LEGACY[13]="𜳽"
uCodePoint_LEGACY[14]="𜳾"
uCodePoint_LEGACY[15]="𜳿"
uCodePoint_LEGACY[16]="𜴀"
uCodePoint_LEGACY[17]="𜴁"
uCodePoint_LEGACY[18]="𜴂"
uCodePoint_LEGACY[19]="𜴃"
uCodePoint_LEGACY[20]="𜴄"
uCodePoint_LEGACY[21]="𜴅"
uCodePoint_LEGACY[22]="𜴆"
uCodePoint_LEGACY[23]="𜴇"
uCodePoint_LEGACY[24]="𜴈"
uCodePoint_LEGACY[25]="𜴉"
uCodePoint_LEGACY[26]="𜴊"
uCodePoint_LEGACY[27]="𜴋"
uCodePoint_LEGACY[28]="𜴌"
uCodePoint_LEGACY[29]="𜴍"
uCodePoint_LEGACY[30]="𜴎"
uCodePoint_LEGACY[31]="𜴏"
uCodePoint_LEGACY[32]="𜴐"
uCodePoint_LEGACY[33]="𜴑"
uCodePoint_LEGACY[34]="𜴒"
uCodePoint_LEGACY[35]="𜴓"
uCodePoint_LEGACY[36]="𜴔"
uCodePoint_LEGACY[37]="𜴕"
uCodePoint_LEGACY[38]="𜴖"
uCodePoint_LEGACY[39]="𜴗"
uCodePoint_LEGACY[40]="𜴘"
uCodePoint_LEGACY[41]="𜴙"
uCodePoint_LEGACY[42]="𜴚"
uCodePoint_LEGACY[43]="𜴛"
uCodePoint_LEGACY[44]="𜴜"
uCodePoint_LEGACY[45]="𜴝"
uCodePoint_LEGACY[46]="𜴞"
uCodePoint_LEGACY[47]="𜴟"
uCodePoint_LEGACY[48]="𜴠"
uCodePoint_LEGACY[49]="𜴡"
uCodePoint_LEGACY[50]="𜴢"
uCodePoint_LEGACY[51]="𜴣"
uCodePoint_LEGACY[52]="𜴤"
uCodePoint_LEGACY[53]="𜴥"
uCodePoint_LEGACY[54]="𜴦"
uCodePoint_LEGACY[55]="𜴧"
uCodePoint_LEGACY[56]="𜴨"
uCodePoint_LEGACY[57]="𜴩"
uCodePoint_LEGACY[58]="𜴪"
uCodePoint_LEGACY[59]="𜴫"
uCodePoint_LEGACY[60]="𜴬"
uCodePoint_LEGACY[61]="𜴭"
uCodePoint_LEGACY[62]="𜴮"
uCodePoint_LEGACY[63]="𜴯"
uCodePoint_LEGACY[64]="𜴰"
uCodePoint_LEGACY[65]="𜴱"
uCodePoint_LEGACY[66]="𜴲"
uCodePoint_LEGACY[67]="𜴳"
uCodePoint_LEGACY[68]="𜴴"
uCodePoint_LEGACY[69]="𜴵"
uCodePoint_LEGACY[70]="𜴶"
uCodePoint_LEGACY[71]="𜴷"
uCodePoint_LEGACY[72]="𜴸"
uCodePoint_LEGACY[73]="𜴹"
uCodePoint_LEGACY[74]="𜴺"
uCodePoint_LEGACY[75]="𜴻"
uCodePoint_LEGACY[76]="𜴼"
uCodePoint_LEGACY[77]="𜴽"
uCodePoint_LEGACY[78]="𜴾"
uCodePoint_LEGACY[79]="𜴿"
uCodePoint_LEGACY[80]="𜵀"
uCodePoint_LEGACY[81]="𜵁"
uCodePoint_LEGACY[82]="𜵂"
uCodePoint_LEGACY[83]="𜵃"
uCodePoint_LEGACY[84]="𜵄"
uCodePoint_LEGACY[85]="𜵅"
uCodePoint_LEGACY[86]="𜵆"
uCodePoint_LEGACY[87]="𜵇"
uCodePoint_LEGACY[88]="𜵈"
uCodePoint_LEGACY[89]="𜵉"
uCodePoint_LEGACY[90]="𜵊"
uCodePoint_LEGACY[91]="𜵋"
uCodePoint_LEGACY[92]="𜵌"
uCodePoint_LEGACY[93]="𜵍"
uCodePoint_LEGACY[94]="𜵎"
uCodePoint_LEGACY[95]="𜵏"
uCodePoint_LEGACY[96]="𜵐"
uCodePoint_LEGACY[97]="𜵑"
uCodePoint_LEGACY[98]="𜵒"
uCodePoint_LEGACY[99]="𜵓"
uCodePoint_LEGACY[100]="𜵔"
uCodePoint_LEGACY[101]="𜵕"
uCodePoint_LEGACY[102]="𜵖"
uCodePoint_LEGACY[103]="𜵗"
uCodePoint_LEGACY[104]="𜵘"
uCodePoint_LEGACY[105]="𜵙"
uCodePoint_LEGACY[106]="𜵚"
uCodePoint_LEGACY[107]="𜵛"
uCodePoint_LEGACY[108]="𜵜"
uCodePoint_LEGACY[109]="𜵝"
uCodePoint_LEGACY[110]="𜵞"
uCodePoint_LEGACY[111]="𜵟"
uCodePoint_LEGACY[112]="𜵠"
uCodePoint_LEGACY[113]="𜵡"
uCodePoint_LEGACY[114]="𜵢"
uCodePoint_LEGACY[115]="𜵣"
uCodePoint_LEGACY[116]="𜵤"
uCodePoint_LEGACY[117]="𜵥"
uCodePoint_LEGACY[118]="𜵦"
uCodePoint_LEGACY[119]="𜵧"
uCodePoint_LEGACY[120]="𜵨"
uCodePoint_LEGACY[121]="𜵩"
uCodePoint_LEGACY[122]="𜵪"
uCodePoint_LEGACY[123]="𜵫"
uCodePoint_LEGACY[124]="𜵬"
uCodePoint_LEGACY[125]="𜵭"
uCodePoint_LEGACY[126]="𜵮"
uCodePoint_LEGACY[127]="𜵯"
uCodePoint_LEGACY[128]="𜵰"
uCodePoint_LEGACY[129]="𜵱"
uCodePoint_LEGACY[130]="𜵲"
uCodePoint_LEGACY[131]="𜵳"
uCodePoint_LEGACY[132]="𜵴"
uCodePoint_LEGACY[133]="𜵵"
uCodePoint_LEGACY[134]="𜵶"
uCodePoint_LEGACY[135]="𜵷"
uCodePoint_LEGACY[136]="𜵸"
uCodePoint_LEGACY[137]="𜵹"
uCodePoint_LEGACY[138]="𜵺"
uCodePoint_LEGACY[139]="𜵻"
uCodePoint_LEGACY[140]="𜵼"
uCodePoint_LEGACY[141]="𜵽"
uCodePoint_LEGACY[142]="𜵾"
uCodePoint_LEGACY[143]="𜵿"
uCodePoint_LEGACY[144]="𜶀"
uCodePoint_LEGACY[145]="𜶁"
uCodePoint_LEGACY[146]="𜶂"
uCodePoint_LEGACY[147]="𜶃"
uCodePoint_LEGACY[148]="𜶄"
uCodePoint_LEGACY[149]="𜶅"
uCodePoint_LEGACY[150]="𜶆"
uCodePoint_LEGACY[151]="𜶇"
uCodePoint_LEGACY[152]="𜶈"
uCodePoint_LEGACY[153]="𜶉"
uCodePoint_LEGACY[154]="𜶊"
uCodePoint_LEGACY[155]="𜶋"
uCodePoint_LEGACY[156]="𜶌"
uCodePoint_LEGACY[157]="𜶍"
uCodePoint_LEGACY[158]="𜶎"
uCodePoint_LEGACY[159]="𜶏"
uCodePoint_LEGACY[160]="𜶐"
uCodePoint_LEGACY[161]="𜶑"
uCodePoint_LEGACY[162]="𜶒"
uCodePoint_LEGACY[163]="𜶓"
uCodePoint_LEGACY[164]="𜶔"
uCodePoint_LEGACY[165]="𜶕"
uCodePoint_LEGACY[166]="𜶖"
uCodePoint_LEGACY[167]="𜶗"
uCodePoint_LEGACY[168]="𜶘"
uCodePoint_LEGACY[169]="𜶙"
uCodePoint_LEGACY[170]="𜶚"
uCodePoint_LEGACY[171]="𜶛"
uCodePoint_LEGACY[172]="𜶜"
uCodePoint_LEGACY[173]="𜶝"
uCodePoint_LEGACY[174]="𜶞"
uCodePoint_LEGACY[175]="𜶟"
uCodePoint_LEGACY[176]="𜶠"
uCodePoint_LEGACY[177]="𜶡"
uCodePoint_LEGACY[178]="𜶢"
uCodePoint_LEGACY[179]="𜶣"
uCodePoint_LEGACY[180]="𜶤"
uCodePoint_LEGACY[181]="𜶥"
uCodePoint_LEGACY[182]="𜶦"
uCodePoint_LEGACY[183]="𜶧"
uCodePoint_LEGACY[184]="𜶨"
uCodePoint_LEGACY[185]="𜶩"
uCodePoint_LEGACY[186]="𜶪"
uCodePoint_LEGACY[187]="𜶫"
uCodePoint_LEGACY[188]="𜶬"
uCodePoint_LEGACY[189]="𜶭"
uCodePoint_LEGACY[190]="𜶮"
uCodePoint_LEGACY[191]="𜶯"
uCodePoint_LEGACY[192]="𜶰"
uCodePoint_LEGACY[193]="𜶱"
uCodePoint_LEGACY[194]="𜶲"
uCodePoint_LEGACY[195]="𜶳"
uCodePoint_LEGACY[196]="𜶴"
uCodePoint_LEGACY[197]="𜶵"
uCodePoint_LEGACY[198]="𜶶"
uCodePoint_LEGACY[199]="𜶷"
uCodePoint_LEGACY[200]="𜶸"
uCodePoint_LEGACY[201]="𜶹"
uCodePoint_LEGACY[202]="𜶺"
uCodePoint_LEGACY[203]="𜶻"
uCodePoint_LEGACY[204]="𜶼"
uCodePoint_LEGACY[205]="𜶽"
uCodePoint_LEGACY[206]="𜶾"
uCodePoint_LEGACY[207]="𜶿"
uCodePoint_LEGACY[208]="𜷀"
uCodePoint_LEGACY[209]="𜷁"
uCodePoint_LEGACY[210]="𜷂"
uCodePoint_LEGACY[211]="𜷃"
uCodePoint_LEGACY[212]="𜷄"
uCodePoint_LEGACY[213]="𜷅"
uCodePoint_LEGACY[214]="𜷆"
uCodePoint_LEGACY[215]="𜷇"
uCodePoint_LEGACY[216]="𜷈"
uCodePoint_LEGACY[217]="𜷉"
uCodePoint_LEGACY[218]="𜷊"
uCodePoint_LEGACY[219]="𜷋"
uCodePoint_LEGACY[220]="𜷌"
uCodePoint_LEGACY[221]="𜷍"
uCodePoint_LEGACY[222]="𜷎"
uCodePoint_LEGACY[223]="𜷏"
uCodePoint_LEGACY[224]="𜷐"
uCodePoint_LEGACY[225]="𜷑"
uCodePoint_LEGACY[226]="𜷒"
uCodePoint_LEGACY[227]="𜷓"
uCodePoint_LEGACY[228]="𜷔"
uCodePoint_LEGACY[229]="𜷕"
uCodePoint_LEGACY[230]="𜷖"
uCodePoint_LEGACY[231]="𜷗"
uCodePoint_LEGACY[232]="𜷘"
uCodePoint_LEGACY[233]="𜷙"
uCodePoint_LEGACY[234]="𜷚"
uCodePoint_LEGACY[235]="𜷛"
uCodePoint_LEGACY[236]="𜷜"
uCodePoint_LEGACY[237]="𜷝"
uCodePoint_LEGACY[238]="𜷞"
uCodePoint_LEGACY[239]="𜷟"
uCodePoint_LEGACY[240]="𜷠"
uCodePoint_LEGACY[241]="𜷡"
uCodePoint_LEGACY[242]="𜷢"
uCodePoint_LEGACY[243]="𜷣"
uCodePoint_LEGACY[244]="𜷤"
uCodePoint_LEGACY[245]="𜷥"
uCodePoint_LEGACY[246]="𜷦"
uCodePoint_LEGACY[247]="𜷧"
uCodePoint_LEGACY[248]="𜷨"
uCodePoint_LEGACY[249]="𜷩"
uCodePoint_LEGACY[250]="𜷪"
uCodePoint_LEGACY[251]="𜷫"
uCodePoint_LEGACY[252]="𜷬"
uCodePoint_LEGACY[253]="𜷭"
uCodePoint_LEGACY[254]="𜷮"
uCodePoint_LEGACY[255]="𜷯"
