# Index 31 maps to Offset 90 (U+1CD4A)
nbp_VROBI_LEGACY[0]=272
nbp_VROBI_LEGACY[1]=273
nbp_VROBI_LEGACY[2]=274
nbp_VROBI_LEGACY[3]=275
nbp_VROBI_LEGACY[4]=276
nbp_VROBI_LEGACY[5]=277
nbp_VROBI_LEGACY[6]=278
nbp_VROBI_LEGACY[7]=279
nbp_VROBI_LEGACY[8]=336
nbp_VROBI_LEGACY[9]=337
nbp_VROBI_LEGACY[10]=338
nbp_VROBI_LEGACY[11]=339
nbp_VROBI_LEGACY[12]=340
nbp_VROBI_LEGACY[13]=341
nbp_VROBI_LEGACY[14]=342
nbp_VROBI_LEGACY[15]=343
nbp_VROBI_LEGACY[16]=280
nbp_VROBI_LEGACY[17]=281
nbp_VROBI_LEGACY[18]=282
nbp_VROBI_LEGACY[19]=283
nbp_VROBI_LEGACY[20]=284
nbp_VROBI_LEGACY[21]=285
nbp_VROBI_LEGACY[22]=286
nbp_VROBI_LEGACY[23]=287
nbp_VROBI_LEGACY[24]=344
nbp_VROBI_LEGACY[25]=345
nbp_VROBI_LEGACY[26]=346
nbp_VROBI_LEGACY[27]=347
nbp_VROBI_LEGACY[28]=348
nbp_VROBI_LEGACY[29]=349
nbp_VROBI_LEGACY[30]=350
nbp_VROBI_LEGACY[31]=90
nbp_VROBI_LEGACY[32]=288
nbp_VROBI_LEGACY[33]=289
nbp_VROBI_LEGACY[34]=290
nbp_VROBI_LEGACY[35]=291
nbp_VROBI_LEGACY[36]=292
nbp_VROBI_LEGACY[37]=293
nbp_VROBI_LEGACY[38]=294
nbp_VROBI_LEGACY[39]=295
nbp_VROBI_LEGACY[40]=352
nbp_VROBI_LEGACY[41]=353
nbp_VROBI_LEGACY[42]=354
nbp_VROBI_LEGACY[43]=355
nbp_VROBI_LEGACY[44]=356
nbp_VROBI_LEGACY[45]=357
nbp_VROBI_LEGACY[46]=358
nbp_VROBI_LEGACY[47]=359
nbp_VROBI_LEGACY[48]=296
nbp_VROBI_LEGACY[49]=297
nbp_VROBI_LEGACY[50]=298
nbp_VROBI_LEGACY[51]=299
nbp_VROBI_LEGACY[52]=300
nbp_VROBI_LEGACY[53]=301
nbp_VROBI_LEGACY[54]=302
nbp_VROBI_LEGACY[55]=303
nbp_VROBI_LEGACY[56]=360
nbp_VROBI_LEGACY[57]=361
nbp_VROBI_LEGACY[58]=362
nbp_VROBI_LEGACY[59]=363
nbp_VROBI_LEGACY[60]=364
nbp_VROBI_LEGACY[61]=365
nbp_VROBI_LEGACY[62]=366
nbp_VROBI_LEGACY[63]=367
nbp_VROBI_LEGACY[64]=304
nbp_VROBI_LEGACY[65]=305
nbp_VROBI_LEGACY[66]=306
nbp_VROBI_LEGACY[67]=307
nbp_VROBI_LEGACY[68]=308
nbp_VROBI_LEGACY[69]=309
nbp_VROBI_LEGACY[70]=310
nbp_VROBI_LEGACY[71]=311
nbp_VROBI_LEGACY[72]=368
nbp_VROBI_LEGACY[73]=369
nbp_VROBI_LEGACY[74]=370
nbp_VROBI_LEGACY[75]=371
nbp_VROBI_LEGACY[76]=372
nbp_VROBI_LEGACY[77]=373
nbp_VROBI_LEGACY[78]=374
nbp_VROBI_LEGACY[79]=375
nbp_VROBI_LEGACY[80]=312
nbp_VROBI_LEGACY[81]=313
nbp_VROBI_LEGACY[82]=314
nbp_VROBI_LEGACY[83]=315
nbp_VROBI_LEGACY[84]=316
nbp_VROBI_LEGACY[85]=317
nbp_VROBI_LEGACY[86]=318
nbp_VROBI_LEGACY[87]=319
nbp_VROBI_LEGACY[88]=376
nbp_VROBI_LEGACY[89]=377
nbp_VROBI_LEGACY[90]=378
nbp_VROBI_LEGACY[91]=379
nbp_VROBI_LEGACY[92]=380
nbp_VROBI_LEGACY[93]=381
nbp_VROBI_LEGACY[94]=382
nbp_VROBI_LEGACY[95]=383
nbp_VROBI_LEGACY[96]=320
nbp_VROBI_LEGACY[97]=321
nbp_VROBI_LEGACY[98]=322
nbp_VROBI_LEGACY[99]=323
nbp_VROBI_LEGACY[100]=324
nbp_VROBI_LEGACY[101]=325
nbp_VROBI_LEGACY[102]=326
nbp_VROBI_LEGACY[103]=327
nbp_VROBI_LEGACY[104]=384
nbp_VROBI_LEGACY[105]=385
nbp_VROBI_LEGACY[106]=386
nbp_VROBI_LEGACY[107]=387
nbp_VROBI_LEGACY[108]=388
nbp_VROBI_LEGACY[109]=389
nbp_VROBI_LEGACY[110]=390
nbp_VROBI_LEGACY[111]=391
nbp_VROBI_LEGACY[112]=328
nbp_VROBI_LEGACY[113]=329
nbp_VROBI_LEGACY[114]=330
nbp_VROBI_LEGACY[115]=331
nbp_VROBI_LEGACY[116]=332
nbp_VROBI_LEGACY[117]=333
nbp_VROBI_LEGACY[118]=334
nbp_VROBI_LEGACY[119]=335
nbp_VROBI_LEGACY[120]=392
nbp_VROBI_LEGACY[121]=393
nbp_VROBI_LEGACY[122]=394
nbp_VROBI_LEGACY[123]=395
nbp_VROBI_LEGACY[124]=396
nbp_VROBI_LEGACY[125]=397
nbp_VROBI_LEGACY[126]=398
nbp_VROBI_LEGACY[127]=399
nbp_VROBI_LEGACY[128]=400
nbp_VROBI_LEGACY[129]=401
nbp_VROBI_LEGACY[130]=402
nbp_VROBI_LEGACY[131]=403
nbp_VROBI_LEGACY[132]=404
nbp_VROBI_LEGACY[133]=405
nbp_VROBI_LEGACY[134]=406
nbp_VROBI_LEGACY[135]=407
nbp_VROBI_LEGACY[136]=464
nbp_VROBI_LEGACY[137]=465
nbp_VROBI_LEGACY[138]=466
nbp_VROBI_LEGACY[139]=467
nbp_VROBI_LEGACY[140]=468
nbp_VROBI_LEGACY[141]=469
nbp_VROBI_LEGACY[142]=470
nbp_VROBI_LEGACY[143]=471
nbp_VROBI_LEGACY[144]=408
nbp_VROBI_LEGACY[145]=409
nbp_VROBI_LEGACY[146]=410
nbp_VROBI_LEGACY[147]=411
nbp_VROBI_LEGACY[148]=412
nbp_VROBI_LEGACY[149]=413
nbp_VROBI_LEGACY[150]=414
nbp_VROBI_LEGACY[151]=415
nbp_VROBI_LEGACY[152]=472
nbp_VROBI_LEGACY[153]=473
nbp_VROBI_LEGACY[154]=474
nbp_VROBI_LEGACY[155]=475
nbp_VROBI_LEGACY[156]=476
nbp_VROBI_LEGACY[157]=477
nbp_VROBI_LEGACY[158]=478
nbp_VROBI_LEGACY[159]=479
nbp_VROBI_LEGACY[160]=416
nbp_VROBI_LEGACY[161]=417
nbp_VROBI_LEGACY[162]=418
nbp_VROBI_LEGACY[163]=419
nbp_VROBI_LEGACY[164]=420
nbp_VROBI_LEGACY[165]=421
nbp_VROBI_LEGACY[166]=422
nbp_VROBI_LEGACY[167]=423
nbp_VROBI_LEGACY[168]=480
nbp_VROBI_LEGACY[169]=481
nbp_VROBI_LEGACY[170]=482
nbp_VROBI_LEGACY[171]=483
nbp_VROBI_LEGACY[172]=484
nbp_VROBI_LEGACY[173]=485
nbp_VROBI_LEGACY[174]=486
nbp_VROBI_LEGACY[175]=487
nbp_VROBI_LEGACY[176]=424
nbp_VROBI_LEGACY[177]=425
nbp_VROBI_LEGACY[178]=426
nbp_VROBI_LEGACY[179]=427
nbp_VROBI_LEGACY[180]=428
nbp_VROBI_LEGACY[181]=429
nbp_VROBI_LEGACY[182]=430
nbp_VROBI_LEGACY[183]=431
nbp_VROBI_LEGACY[184]=488
nbp_VROBI_LEGACY[185]=489
nbp_VROBI_LEGACY[186]=490
nbp_VROBI_LEGACY[187]=491
nbp_VROBI_LEGACY[188]=492
nbp_VROBI_LEGACY[189]=493
nbp_VROBI_LEGACY[190]=494
nbp_VROBI_LEGACY[191]=495
nbp_VROBI_LEGACY[192]=432
nbp_VROBI_LEGACY[193]=433
nbp_VROBI_LEGACY[194]=434
nbp_VROBI_LEGACY[195]=435
nbp_VROBI_LEGACY[196]=436
nbp_VROBI_LEGACY[197]=437
nbp_VROBI_LEGACY[198]=438
nbp_VROBI_LEGACY[199]=439
nbp_VROBI_LEGACY[200]=496
nbp_VROBI_LEGACY[201]=497
nbp_VROBI_LEGACY[202]=498
nbp_VROBI_LEGACY[203]=499
nbp_VROBI_LEGACY[204]=500
nbp_VROBI_LEGACY[205]=501
nbp_VROBI_LEGACY[206]=502
nbp_VROBI_LEGACY[207]=503
nbp_VROBI_LEGACY[208]=440
nbp_VROBI_LEGACY[209]=441
nbp_VROBI_LEGACY[210]=442
nbp_VROBI_LEGACY[211]=443
nbp_VROBI_LEGACY[212]=444
nbp_VROBI_LEGACY[213]=445
nbp_VROBI_LEGACY[214]=446
nbp_VROBI_LEGACY[215]=447
nbp_VROBI_LEGACY[216]=504
nbp_VROBI_LEGACY[217]=505
nbp_VROBI_LEGACY[218]=506
nbp_VROBI_LEGACY[219]=507
nbp_VROBI_LEGACY[220]=508
nbp_VROBI_LEGACY[221]=509
nbp_VROBI_LEGACY[222]=510
nbp_VROBI_LEGACY[223]=511
nbp_VROBI_LEGACY[224]=448
nbp_VROBI_LEGACY[225]=449
nbp_VROBI_LEGACY[226]=450
nbp_VROBI_LEGACY[227]=451
nbp_VROBI_LEGACY[228]=452
nbp_VROBI_LEGACY[229]=453
nbp_VROBI_LEGACY[230]=454
nbp_VROBI_LEGACY[231]=455
nbp_VROBI_LEGACY[232]=512
nbp_VROBI_LEGACY[233]=513
nbp_VROBI_LEGACY[234]=514
nbp_VROBI_LEGACY[235]=515
nbp_VROBI_LEGACY[236]=516
nbp_VROBI_LEGACY[237]=517
nbp_VROBI_LEGACY[238]=518
nbp_VROBI_LEGACY[239]=519
nbp_VROBI_LEGACY[240]=456
nbp_VROBI_LEGACY[241]=457
nbp_VROBI_LEGACY[242]=458
nbp_VROBI_LEGACY[243]=459
nbp_VROBI_LEGACY[244]=460
nbp_VROBI_LEGACY[245]=461
nbp_VROBI_LEGACY[246]=462
nbp_VROBI_LEGACY[247]=463
nbp_VROBI_LEGACY[248]=520
nbp_VROBI_LEGACY[249]=521
nbp_VROBI_LEGACY[250]=522
nbp_VROBI_LEGACY[251]=523
nbp_VROBI_LEGACY[252]=524
nbp_VROBI_LEGACY[253]=525
nbp_VROBI_LEGACY[254]=526
nbp_VROBI_LEGACY[255]=527
