# Generated NewBashPlot private-use glyph map
# Each index is the visual 2x4 bitmask.
# Glyph = U+E000 + bitmask.

nbp_VROBI[0]="" # U+E000
nbp_VROBI[1]="" # U+E001
nbp_VROBI[2]="" # U+E002
nbp_VROBI[3]="" # U+E003
nbp_VROBI[4]="" # U+E004
nbp_VROBI[5]="" # U+E005
nbp_VROBI[6]="" # U+E006
nbp_VROBI[7]="" # U+E007
nbp_VROBI[8]="" # U+E008
nbp_VROBI[9]="" # U+E009
nbp_VROBI[10]="" # U+E00A
nbp_VROBI[11]="" # U+E00B
nbp_VROBI[12]="" # U+E00C
nbp_VROBI[13]="" # U+E00D
nbp_VROBI[14]="" # U+E00E
nbp_VROBI[15]="" # U+E00F
nbp_VROBI[16]="" # U+E010
nbp_VROBI[17]="" # U+E011
nbp_VROBI[18]="" # U+E012
nbp_VROBI[19]="" # U+E013
nbp_VROBI[20]="" # U+E014
nbp_VROBI[21]="" # U+E015
nbp_VROBI[22]="" # U+E016
nbp_VROBI[23]="" # U+E017
nbp_VROBI[24]="" # U+E018
nbp_VROBI[25]="" # U+E019
nbp_VROBI[26]="" # U+E01A
nbp_VROBI[27]="" # U+E01B
nbp_VROBI[28]="" # U+E01C
nbp_VROBI[29]="" # U+E01D
nbp_VROBI[30]="" # U+E01E
nbp_VROBI[31]="" # U+E01F
nbp_VROBI[32]="" # U+E020
nbp_VROBI[33]="" # U+E021
nbp_VROBI[34]="" # U+E022
nbp_VROBI[35]="" # U+E023
nbp_VROBI[36]="" # U+E024
nbp_VROBI[37]="" # U+E025
nbp_VROBI[38]="" # U+E026
nbp_VROBI[39]="" # U+E027
nbp_VROBI[40]="" # U+E028
nbp_VROBI[41]="" # U+E029
nbp_VROBI[42]="" # U+E02A
nbp_VROBI[43]="" # U+E02B
nbp_VROBI[44]="" # U+E02C
nbp_VROBI[45]="" # U+E02D
nbp_VROBI[46]="" # U+E02E
nbp_VROBI[47]="" # U+E02F
nbp_VROBI[48]="" # U+E030
nbp_VROBI[49]="" # U+E031
nbp_VROBI[50]="" # U+E032
nbp_VROBI[51]="" # U+E033
nbp_VROBI[52]="" # U+E034
nbp_VROBI[53]="" # U+E035
nbp_VROBI[54]="" # U+E036
nbp_VROBI[55]="" # U+E037
nbp_VROBI[56]="" # U+E038
nbp_VROBI[57]="" # U+E039
nbp_VROBI[58]="" # U+E03A
nbp_VROBI[59]="" # U+E03B
nbp_VROBI[60]="" # U+E03C
nbp_VROBI[61]="" # U+E03D
nbp_VROBI[62]="" # U+E03E
nbp_VROBI[63]="" # U+E03F
nbp_VROBI[64]="" # U+E040
nbp_VROBI[65]="" # U+E041
nbp_VROBI[66]="" # U+E042
nbp_VROBI[67]="" # U+E043
nbp_VROBI[68]="" # U+E044
nbp_VROBI[69]="" # U+E045
nbp_VROBI[70]="" # U+E046
nbp_VROBI[71]="" # U+E047
nbp_VROBI[72]="" # U+E048
nbp_VROBI[73]="" # U+E049
nbp_VROBI[74]="" # U+E04A
nbp_VROBI[75]="" # U+E04B
nbp_VROBI[76]="" # U+E04C
nbp_VROBI[77]="" # U+E04D
nbp_VROBI[78]="" # U+E04E
nbp_VROBI[79]="" # U+E04F
nbp_VROBI[80]="" # U+E050
nbp_VROBI[81]="" # U+E051
nbp_VROBI[82]="" # U+E052
nbp_VROBI[83]="" # U+E053
nbp_VROBI[84]="" # U+E054
nbp_VROBI[85]="" # U+E055
nbp_VROBI[86]="" # U+E056
nbp_VROBI[87]="" # U+E057
nbp_VROBI[88]="" # U+E058
nbp_VROBI[89]="" # U+E059
nbp_VROBI[90]="" # U+E05A
nbp_VROBI[91]="" # U+E05B
nbp_VROBI[92]="" # U+E05C
nbp_VROBI[93]="" # U+E05D
nbp_VROBI[94]="" # U+E05E
nbp_VROBI[95]="" # U+E05F
nbp_VROBI[96]="" # U+E060
nbp_VROBI[97]="" # U+E061
nbp_VROBI[98]="" # U+E062
nbp_VROBI[99]="" # U+E063
nbp_VROBI[100]="" # U+E064
nbp_VROBI[101]="" # U+E065
nbp_VROBI[102]="" # U+E066
nbp_VROBI[103]="" # U+E067
nbp_VROBI[104]="" # U+E068
nbp_VROBI[105]="" # U+E069
nbp_VROBI[106]="" # U+E06A
nbp_VROBI[107]="" # U+E06B
nbp_VROBI[108]="" # U+E06C
nbp_VROBI[109]="" # U+E06D
nbp_VROBI[110]="" # U+E06E
nbp_VROBI[111]="" # U+E06F
nbp_VROBI[112]="" # U+E070
nbp_VROBI[113]="" # U+E071
nbp_VROBI[114]="" # U+E072
nbp_VROBI[115]="" # U+E073
nbp_VROBI[116]="" # U+E074
nbp_VROBI[117]="" # U+E075
nbp_VROBI[118]="" # U+E076
nbp_VROBI[119]="" # U+E077
nbp_VROBI[120]="" # U+E078
nbp_VROBI[121]="" # U+E079
nbp_VROBI[122]="" # U+E07A
nbp_VROBI[123]="" # U+E07B
nbp_VROBI[124]="" # U+E07C
nbp_VROBI[125]="" # U+E07D
nbp_VROBI[126]="" # U+E07E
nbp_VROBI[127]="" # U+E07F
nbp_VROBI[128]="" # U+E080
nbp_VROBI[129]="" # U+E081
nbp_VROBI[130]="" # U+E082
nbp_VROBI[131]="" # U+E083
nbp_VROBI[132]="" # U+E084
nbp_VROBI[133]="" # U+E085
nbp_VROBI[134]="" # U+E086
nbp_VROBI[135]="" # U+E087
nbp_VROBI[136]="" # U+E088
nbp_VROBI[137]="" # U+E089
nbp_VROBI[138]="" # U+E08A
nbp_VROBI[139]="" # U+E08B
nbp_VROBI[140]="" # U+E08C
nbp_VROBI[141]="" # U+E08D
nbp_VROBI[142]="" # U+E08E
nbp_VROBI[143]="" # U+E08F
nbp_VROBI[144]="" # U+E090
nbp_VROBI[145]="" # U+E091
nbp_VROBI[146]="" # U+E092
nbp_VROBI[147]="" # U+E093
nbp_VROBI[148]="" # U+E094
nbp_VROBI[149]="" # U+E095
nbp_VROBI[150]="" # U+E096
nbp_VROBI[151]="" # U+E097
nbp_VROBI[152]="" # U+E098
nbp_VROBI[153]="" # U+E099
nbp_VROBI[154]="" # U+E09A
nbp_VROBI[155]="" # U+E09B
nbp_VROBI[156]="" # U+E09C
nbp_VROBI[157]="" # U+E09D
nbp_VROBI[158]="" # U+E09E
nbp_VROBI[159]="" # U+E09F
nbp_VROBI[160]="" # U+E0A0
nbp_VROBI[161]="" # U+E0A1
nbp_VROBI[162]="" # U+E0A2
nbp_VROBI[163]="" # U+E0A3
nbp_VROBI[164]="" # U+E0A4
nbp_VROBI[165]="" # U+E0A5
nbp_VROBI[166]="" # U+E0A6
nbp_VROBI[167]="" # U+E0A7
nbp_VROBI[168]="" # U+E0A8
nbp_VROBI[169]="" # U+E0A9
nbp_VROBI[170]="" # U+E0AA
nbp_VROBI[171]="" # U+E0AB
nbp_VROBI[172]="" # U+E0AC
nbp_VROBI[173]="" # U+E0AD
nbp_VROBI[174]="" # U+E0AE
nbp_VROBI[175]="" # U+E0AF
nbp_VROBI[176]="" # U+E0B0
nbp_VROBI[177]="" # U+E0B1
nbp_VROBI[178]="" # U+E0B2
nbp_VROBI[179]="" # U+E0B3
nbp_VROBI[180]="" # U+E0B4
nbp_VROBI[181]="" # U+E0B5
nbp_VROBI[182]="" # U+E0B6
nbp_VROBI[183]="" # U+E0B7
nbp_VROBI[184]="" # U+E0B8
nbp_VROBI[185]="" # U+E0B9
nbp_VROBI[186]="" # U+E0BA
nbp_VROBI[187]="" # U+E0BB
nbp_VROBI[188]="" # U+E0BC
nbp_VROBI[189]="" # U+E0BD
nbp_VROBI[190]="" # U+E0BE
nbp_VROBI[191]="" # U+E0BF
nbp_VROBI[192]="" # U+E0C0
nbp_VROBI[193]="" # U+E0C1
nbp_VROBI[194]="" # U+E0C2
nbp_VROBI[195]="" # U+E0C3
nbp_VROBI[196]="" # U+E0C4
nbp_VROBI[197]="" # U+E0C5
nbp_VROBI[198]="" # U+E0C6
nbp_VROBI[199]="" # U+E0C7
nbp_VROBI[200]="" # U+E0C8
nbp_VROBI[201]="" # U+E0C9
nbp_VROBI[202]="" # U+E0CA
nbp_VROBI[203]="" # U+E0CB
nbp_VROBI[204]="" # U+E0CC
nbp_VROBI[205]="" # U+E0CD
nbp_VROBI[206]="" # U+E0CE
nbp_VROBI[207]="" # U+E0CF
nbp_VROBI[208]="" # U+E0D0
nbp_VROBI[209]="" # U+E0D1
nbp_VROBI[210]="" # U+E0D2
nbp_VROBI[211]="" # U+E0D3
nbp_VROBI[212]="" # U+E0D4
nbp_VROBI[213]="" # U+E0D5
nbp_VROBI[214]="" # U+E0D6
nbp_VROBI[215]="" # U+E0D7
nbp_VROBI[216]="" # U+E0D8
nbp_VROBI[217]="" # U+E0D9
nbp_VROBI[218]="" # U+E0DA
nbp_VROBI[219]="" # U+E0DB
nbp_VROBI[220]="" # U+E0DC
nbp_VROBI[221]="" # U+E0DD
nbp_VROBI[222]="" # U+E0DE
nbp_VROBI[223]="" # U+E0DF
nbp_VROBI[224]="" # U+E0E0
nbp_VROBI[225]="" # U+E0E1
nbp_VROBI[226]="" # U+E0E2
nbp_VROBI[227]="" # U+E0E3
nbp_VROBI[228]="" # U+E0E4
nbp_VROBI[229]="" # U+E0E5
nbp_VROBI[230]="" # U+E0E6
nbp_VROBI[231]="" # U+E0E7
nbp_VROBI[232]="" # U+E0E8
nbp_VROBI[233]="" # U+E0E9
nbp_VROBI[234]="" # U+E0EA
nbp_VROBI[235]="" # U+E0EB
nbp_VROBI[236]="" # U+E0EC
nbp_VROBI[237]="" # U+E0ED
nbp_VROBI[238]="" # U+E0EE
nbp_VROBI[239]="" # U+E0EF
nbp_VROBI[240]="" # U+E0F0
nbp_VROBI[241]="" # U+E0F1
nbp_VROBI[242]="" # U+E0F2
nbp_VROBI[243]="" # U+E0F3
nbp_VROBI[244]="" # U+E0F4
nbp_VROBI[245]="" # U+E0F5
nbp_VROBI[246]="" # U+E0F6
nbp_VROBI[247]="" # U+E0F7
nbp_VROBI[248]="" # U+E0F8
nbp_VROBI[249]="" # U+E0F9
nbp_VROBI[250]="" # U+E0FA
nbp_VROBI[251]="" # U+E0FB
nbp_VROBI[252]="" # U+E0FC
nbp_VROBI[253]="" # U+E0FD
nbp_VROBI[254]="" # U+E0FE
nbp_VROBI[255]="" # U+E0FF
