# Created by Tara Ram on Sunday 26th April 2026, Delhi, India.
#
# I'm documenting this because I'm becoming very forgetful. It sucks.
#
# Purpose of this file is to provide an array that can be sourced.
# The VROBI array maps the positioning of Braille dots as they are
# defined in their font into a more structured order, creating a 
# simplified and deterministic access to a required pattern.
# 
# E.g.
# In the Braille font unicode definition, each box below represents a Braille dot position:
#
#	-------------	  
# 	|   1 |   8 |	  
#	-------------	  
# 	|   2 |  16 |	  
#	-------------	  
# 	|   4 |  32 |	  
#	-------------	  
# 	|  64 | 128 |	  
# 	------------- 	  
#
# The values in the boxes are bitmask values.
#
# E.g.
# The sum of values 1+2+4+64+128 = 199, which represents an L shape.
# 10240 (decimal of x2800) is the unicode Braille font base start.
# 10240 + 199 = 10439, which is the unicode font character '⣇'.
#
# This mapping is not convenient for determining dot positions when plotting.
# For any pixel mapping, the VROBI array points to the actual system mapping.
# A much more convenient dot to bit pattern would be this:
#
#      0     1
#   -------------	  
# 0 |   1 |  16 |	  
#   -------------	  
# 1 |   2 |  32 |	  
#   -------------	  
# 2 |   4 |  64 |	  
#   -------------	  
# 3 |   8 | 128 |	  
#   ------------- 	  
#
# It's convenient because the Braille patterns exist in a grid of 2 columns and 4 rows.
# With this mapping, it's straight forward to determine what Braille character to select
# with a simple calculation, e.g if a dot was required at column 1 row 2, that maps to 64.
# 10240 + 64 = 10304, which is character '⠠'.
#
# With this in mind, the indexed array VROBI has been created.  Simply determine what pattern
# of Braille dots is required based on the VROBI mapping, use that as an index, and the
# resultant element returns an offset from x2800 for the unicode character required.
#
# VROBI = Virtual Raster-Ordered Bit Index	  
# Index = VROBI	  
# Element = Associated Braille character	  
#	  
# VROBI mapping         Character Font Mapping	  
# ------------- 	-------------	  
# |   1 |  16 |  	|   1 |   8 |	  
# ------------- 	-------------	  
# |   2 |  32 |  	|   2 |  16 |	  
# ------------- 	-------------	  
# |   4 |  64 |  	|   4 |  32 |	  
# ------------- 	-------------	  
# |   8 | 128 |  	|  64 | 128 |	  
# -------------  	------------- 	  
#	  
#	        # Referenced char from index
VROBI[0]=0	#  
VROBI[1]=1	# ⠁
VROBI[2]=2	# ⠂
VROBI[3]=3	# ⠃
VROBI[4]=4	# ⠄
VROBI[5]=5	# ⠅
VROBI[6]=6	# ⠆
VROBI[7]=7	# ⠇
VROBI[8]=64	# ⡀
VROBI[9]=65	# ⡁
VROBI[10]=66	# ⡂
VROBI[11]=67	# ⡃
VROBI[12]=68	# ⡄
VROBI[13]=69	# ⡅
VROBI[14]=70	# ⡆
VROBI[15]=71	# ⡇
VROBI[16]=8	# ⠈
VROBI[17]=9	# ⠉
VROBI[18]=10	# ⠊
VROBI[19]=11	# ⠋
VROBI[20]=12	# ⠌
VROBI[21]=13	# ⠍
VROBI[22]=14	# ⠎
VROBI[23]=15	# ⠏
VROBI[24]=72	# ⡈
VROBI[25]=73	# ⡉
VROBI[26]=74	# ⡊
VROBI[27]=75	# ⡋
VROBI[28]=76	# ⡌
VROBI[29]=77	# ⡍
VROBI[30]=78	# ⡎
VROBI[31]=79	# ⡏
VROBI[32]=16	# ⠐
VROBI[33]=17	# ⠑
VROBI[34]=18	# ⠒
VROBI[35]=19	# ⠓
VROBI[36]=20	# ⠔
VROBI[37]=21	# ⠕
VROBI[38]=22	# ⠖
VROBI[39]=23	# ⠗
VROBI[40]=80	# ⡐
VROBI[41]=81	# ⡑
VROBI[42]=82	# ⡒
VROBI[43]=83	# ⡓
VROBI[44]=84	# ⡔
VROBI[45]=85	# ⡕
VROBI[46]=86	# ⡖
VROBI[47]=87	# ⡗
VROBI[48]=24	# ⠘
VROBI[49]=25	# ⠙
VROBI[50]=26	# ⠚
VROBI[51]=27	# ⠛
VROBI[52]=28	# ⠜
VROBI[53]=29	# ⠝
VROBI[54]=30	# ⠞
VROBI[55]=31	# ⠟
VROBI[56]=88	# ⡘
VROBI[57]=89	# ⡙
VROBI[58]=90	# ⡚
VROBI[59]=91	# ⡛
VROBI[60]=92	# ⡜
VROBI[61]=93	# ⡝
VROBI[62]=94	# ⡞
VROBI[63]=95	# ⡟
VROBI[64]=32	# ⠠
VROBI[65]=33	# ⠡
VROBI[66]=34	# ⠢
VROBI[67]=35	# ⠣
VROBI[68]=36	# ⠤
VROBI[69]=37	# ⠥
VROBI[70]=38	# ⠦
VROBI[71]=39	# ⠧
VROBI[72]=96	# ⡠
VROBI[73]=97	# ⡡
VROBI[74]=98	# ⡢
VROBI[75]=99	# ⡣
VROBI[76]=100	# ⡤
VROBI[77]=101	# ⡥
VROBI[78]=102	# ⡦
VROBI[79]=103	# ⡧
VROBI[80]=40	# ⠨
VROBI[81]=41	# ⠩
VROBI[82]=42	# ⠪
VROBI[83]=43	# ⠫
VROBI[84]=44	# ⠬
VROBI[85]=45	# ⠭
VROBI[86]=46	# ⠮
VROBI[87]=47	# ⠯
VROBI[88]=104	# ⡨
VROBI[89]=105	# ⡩
VROBI[90]=106	# ⡪
VROBI[91]=107	# ⡫
VROBI[92]=108	# ⡬
VROBI[93]=109	# ⡭
VROBI[94]=110	# ⡮
VROBI[95]=111	# ⡯
VROBI[96]=48	# ⠰
VROBI[97]=49	# ⠱
VROBI[98]=50	# ⠲
VROBI[99]=51	# ⠳
VROBI[100]=52	# ⠴
VROBI[101]=53	# ⠵
VROBI[102]=54	# ⠶
VROBI[103]=55	# ⠷
VROBI[104]=112	# ⡰
VROBI[105]=113	# ⡱
VROBI[106]=114	# ⡲
VROBI[107]=115	# ⡳
VROBI[108]=116	# ⡴
VROBI[109]=117	# ⡵
VROBI[110]=118	# ⡶
VROBI[111]=119	# ⡷
VROBI[112]=56	# ⠸
VROBI[113]=57	# ⠹
VROBI[114]=58	# ⠺
VROBI[115]=59	# ⠻
VROBI[116]=60	# ⠼
VROBI[117]=61	# ⠽
VROBI[118]=62	# ⠾
VROBI[119]=63	# ⠿
VROBI[120]=120	# ⡸
VROBI[121]=121	# ⡹
VROBI[122]=122	# ⡺
VROBI[123]=123	# ⡻
VROBI[124]=124	# ⡼
VROBI[125]=125	# ⡽
VROBI[126]=126	# ⡾
VROBI[127]=127	# ⡿
VROBI[128]=128	# ⢀
VROBI[129]=129	# ⢁
VROBI[130]=130	# ⢂
VROBI[131]=131	# ⢃
VROBI[132]=132	# ⢄
VROBI[133]=133	# ⢅
VROBI[134]=134	# ⢆
VROBI[135]=135	# ⢇
VROBI[136]=192	# ⣀
VROBI[137]=193	# ⣁
VROBI[138]=194	# ⣂
VROBI[139]=195	# ⣃
VROBI[140]=196	# ⣄
VROBI[141]=197	# ⣅
VROBI[142]=198	# ⣆
VROBI[143]=199	# ⣇
VROBI[144]=136	# ⢈
VROBI[145]=137	# ⢉
VROBI[146]=138	# ⢊
VROBI[147]=139	# ⢋
VROBI[148]=140	# ⢌
VROBI[149]=141	# ⢍
VROBI[150]=142	# ⢎
VROBI[151]=143	# ⢏
VROBI[152]=200	# ⣈
VROBI[153]=201	# ⣉
VROBI[154]=202	# ⣊
VROBI[155]=203	# ⣋
VROBI[156]=204	# ⣌
VROBI[157]=205	# ⣍
VROBI[158]=206	# ⣎
VROBI[159]=207	# ⣏
VROBI[160]=144	# ⢐
VROBI[161]=145	# ⢑
VROBI[162]=146	# ⢒
VROBI[163]=147	# ⢓
VROBI[164]=148	# ⢔
VROBI[165]=149	# ⢕
VROBI[166]=150	# ⢖
VROBI[167]=151	# ⢗
VROBI[168]=208	# ⣐
VROBI[169]=209	# ⣑
VROBI[170]=210	# ⣒
VROBI[171]=211	# ⣓
VROBI[172]=212	# ⣔
VROBI[173]=213	# ⣕
VROBI[174]=214	# ⣖
VROBI[175]=215	# ⣗
VROBI[176]=152	# ⢘
VROBI[177]=153	# ⢙
VROBI[178]=154	# ⢚
VROBI[179]=155	# ⢛
VROBI[180]=156	# ⢜
VROBI[181]=157	# ⢝
VROBI[182]=158	# ⢞
VROBI[183]=159	# ⢟
VROBI[184]=216	# ⣘
VROBI[185]=217	# ⣙
VROBI[186]=218	# ⣚
VROBI[187]=219	# ⣛
VROBI[188]=220	# ⣜
VROBI[189]=221	# ⣝
VROBI[190]=222	# ⣞
VROBI[191]=223	# ⣟
VROBI[192]=160	# ⢠
VROBI[193]=161	# ⢡
VROBI[194]=162	# ⢢
VROBI[195]=163	# ⢣
VROBI[196]=164	# ⢤
VROBI[197]=165	# ⢥
VROBI[198]=166	# ⢦
VROBI[199]=167	# ⢧
VROBI[200]=224	# ⣠
VROBI[201]=225	# ⣡
VROBI[202]=226	# ⣢
VROBI[203]=227	# ⣣
VROBI[204]=228	# ⣤
VROBI[205]=229	# ⣥
VROBI[206]=230	# ⣦
VROBI[207]=231	# ⣧
VROBI[208]=168	# ⢨
VROBI[209]=169	# ⢩
VROBI[210]=170	# ⢪
VROBI[211]=171	# ⢫
VROBI[212]=172	# ⢬
VROBI[213]=173	# ⢭
VROBI[214]=174	# ⢮
VROBI[215]=175	# ⢯
VROBI[216]=232	# ⣨
VROBI[217]=233	# ⣩
VROBI[218]=234	# ⣪
VROBI[219]=235	# ⣫
VROBI[220]=236	# ⣬
VROBI[221]=237	# ⣭
VROBI[222]=238	# ⣮
VROBI[223]=239	# ⣯
VROBI[224]=176	# ⢰
VROBI[225]=177	# ⢱
VROBI[226]=178	# ⢲
VROBI[227]=179	# ⢳
VROBI[228]=180	# ⢴
VROBI[229]=181	# ⢵
VROBI[230]=182	# ⢶
VROBI[231]=183	# ⢷
VROBI[232]=240	# ⣰
VROBI[233]=241	# ⣱
VROBI[234]=242	# ⣲
VROBI[235]=243	# ⣳
VROBI[236]=244	# ⣴
VROBI[237]=245	# ⣵
VROBI[238]=246	# ⣶
VROBI[239]=247	# ⣷
VROBI[240]=184	# ⢸
VROBI[241]=185	# ⢹
VROBI[242]=186	# ⢺
VROBI[243]=187	# ⢻
VROBI[244]=188	# ⢼
VROBI[245]=189	# ⢽
VROBI[246]=190	# ⢾
VROBI[247]=191	# ⢿
VROBI[248]=248	# ⣸
VROBI[249]=249	# ⣹
VROBI[250]=250	# ⣺
VROBI[251]=251	# ⣻
VROBI[252]=252	# ⣼
VROBI[253]=253	# ⣽
VROBI[254]=254	# ⣾
VROBI[255]=255	# ⣿
